.aside,
.asideopen,
aside {
    /* translate: -110% 0; */
    border: 1px solid black;
    position: fixed;
    top: auto;
    background-color: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    transition: translate .5s;
}
aside.open,
.asideopen{
    translate: 0 0;
}

button{
    margin: 1rem;
}